.post-content {
  h2 {
    margin-top: $spacing-unit;
  }

  h3 {
    margin-top: $spacing-unit / 1.25;
  }

  h4 {
    margin-top: $spacing-unit / 1.5;
  }
}

.social-media-list li a {
  display: flex;
  align-items: center;
  gap: $spacing-unit / 7.5;
  * {
      display: block;
  }
}
