.site-header {
  border-top: none;
}

.post-list {
  li h3 {
    margin: ($spacing-unit / 4) 0px;
    line-height: $spacing-unit;
  }
}

.post-header .breadcrumbs {
  margin-bottom: $spacing-unit;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-unit / 3.75;

  p {
    margin: 0;
    padding: 0 ($spacing-unit / 3.75);
    border-radius: $spacing-unit / 1.875;
    vertical-align: baseline;
    background-color: #e0ebfa;
    color: $brand-color;
  }
}

.post-content {
  & > * {
    margin-bottom: $spacing-unit / 1.5;
  }

  h2 {
    margin-top: $spacing-unit;
  }

  h3 {
    margin-top: $spacing-unit / 1.25;
  }

  h4 {
    margin-top: $spacing-unit / 1.5;
  }

  #markdown-toc {
    margin-bottom: $spacing-unit;

    li {
      margin-bottom: $spacing-unit / 7.5;
      padding-left: $spacing-unit / 7.5;
    }
  }
}

.social-media-list li a {
  display: flex;
  align-items: center;
  gap: $spacing-unit / 7.5;
  * {
    display: block;
  }
}

@include media-query($on-palm) {
  .post-content > * {
    margin-bottom: $spacing-unit / 1.825;
  }
}
